<!DOCTYPE html>
<html lang="ja" ng-app="eleculator">
    <head>
        <meta charset="UTF-8">
        <title>Calculator</title>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body ng-controller="MainController as ctrl">
        <table>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="text" class="number_field" readonly ng-model="ctrl.resultText"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="text_field" readonly size="4"/>
                </td>
                <td colspan="3">
                    <input type="text" class="number_field" readonly ng-model="ctrl.currentText"/>
                </td>
            </tr>
            <tr>
                <td><input value="1" type="button" class="calc_button" ng-click="ctrl.numberClicked('1')"/></td>
                <td><input value="2" type="button" class="calc_button" ng-click="ctrl.numberClicked('2')"/></td>
                <td><input value="3" type="button" class="calc_button" ng-click="ctrl.numberClicked('3')"/></td>
                <td><input value="+" type="button" class="calc_button"/></td>
            </tr>
            <tr>
                <td><input value="4" type="button" class="calc_button" ng-click="ctrl.numberClicked('4')"/></td>
                <td><input value="5" type="button" class="calc_button" ng-click="ctrl.numberClicked('5')"/></td>
                <td><input value="6" type="button" class="calc_button" ng-click="ctrl.numberClicked('6')"/></td>
                <td><input value="-" type="button" class="calc_button"/></td>
            </tr>
            <tr>
                <td><input value="7" type="button" class="calc_button" ng-click="ctrl.numberClicked('7')"/></td>
                <td><input value="8" type="button" class="calc_button" ng-click="ctrl.numberClicked('8')"/></td>
                <td><input value="9" type="button" class="calc_button" ng-click="ctrl.numberClicked('9')"/></td>
                <td><input value="*" type="button" class="calc_button"/></td>
            </tr>
            <tr>
                <td><input value="C" type="button" class="calc_button"/></td>
                <td><input value="0" type="button" class="calc_button" ng-click="ctrl.numberClicked('0')"/></td>
                <td><input value="=" type="button" class="calc_button"/></td>
                <td><input value="/" type="button" class="calc_button"/></td>
            </tr>
        </table>

        <!-- - - - Load scripts - - - -->
        <script src="node_modules/angular/angular.js"></script>
        <script src="js/ts/MainController.js"></script>
        <script src="js/ts/index.js"></script>
    </body>
</html>
